# -- PostgreSQL + TimescaleDB --
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ohb_sensordata
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# -- MQTT Broker --
MQTT_BROKER_URL=mqtt://localhost:1883

# -- Server --
PORT=3001
